.example-card {
    max-width: 400px;
    font-family: 'Poppins', sans-serif;
  }
  
  .main-image{
    margin:10px auto;
    width: 100%;
  }
  
  .example-header-image{
    width: 100%; 
    max-height: 600px;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
  }
  
  
  .example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
  }
  
  
  mat-drawer-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  