<div id="body2">
  <div id="container">
    <section>
      <div id='flower'>
        <div id='ball'></div>
        <div id="petals">
          <div class="petal" (click)="openTaskListDialog('Titel 1', 'Beskrivning 1', 'data.jpg', 'http://www.aftonbladet.se')">
          </div>
          <div class="petal" (click)="openTaskListDialog('Blomblad 2', 'Beskrivning för blomblad 2', 'data.jpg', 'www.url2.com')">
          </div>
          <div class="petal" (click)="openTaskListDialog('Blomblad 3', 'Beskrivning för blomblad 3', 'data.jpg', 'www.url3.com')">
          </div>
          <div class="petal" (click)="openTaskListDialog('Blomblad 3', 'Beskrivning för blomblad 3', 'bild3.jpg', 'www.url3.com')">
          </div>
          <div class="petal" (click)="openTaskListDialog('Blomblad 3', 'Beskrivning för blomblad 3', 'bild3.jpg', 'www.url3.com')">
          </div>
          <div class="petal" (click)="openTaskListDialog('Blomblad 3', 'Beskrivning för blomblad 3', 'bild3.jpg', 'www.url3.com')">
          </div>
          <div class="petal" (click)="openTaskListDialog('Blomblad 3', 'Beskrivning för blomblad 3', 'bild3.jpg', 'www.url3.com')">
          </div>
          <div class="petal" (click)="openTaskListDialog('Blomblad 3', 'Beskrivning för blomblad 3', 'bild3.jpg', 'www.url3.com')">
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
