<!-- home.component.html -->
<div id="body2">
<div id="container">
  
  <section>
      <div id='flower'>
          <div id='ball'></div>
          <div id="petals">
            <div class="petal"></div>
              <div class="petal"></div>
              <div class="petal"></div>
              <div class="petal"></div>
              <div class="petal"></div>
              <div class="petal"></div>
              <div class="petal"></div>
              <div class="petal"></div>
          </div>
      </div>
  </section>
</div>
</div>