<app-task-list></app-task-list>
<mat-divider>  </mat-divider>
<mat-divider>  </mat-divider>
<mat-divider>  </mat-divider>
<mat-divider>  </mat-divider>
<mat-divider>  </mat-divider>
<mat-divider>  </mat-divider>
<mat-divider> </mat-divider>
<mat-divider>  </mat-divider>
<mat-divider>  </mat-divider><mat-divider>  </mat-divider><mat-divider>  </mat-divider><mat-divider>  </mat-divider><mat-divider>  </mat-divider><mat-divider>  </mat-divider><mat-divider>  </mat-divider><mat-divider>  </mat-divider><mat-divider>  </mat-divider><mat-divider>  </mat-divider><mat-divider>  </mat-divider><mat-divider>  </mat-divider>

<app-add-person></app-add-person>


<router-outlet></router-outlet>


