<div id="welcome-popup">
<div id="welcome-popup-title">
<h2>Hej {{data.personName}}!
    Varmt välkommen till XLENT! Vi är väldigt glada att du blir en del av vårt gäng! 
</h2>
</div>
<div id="welcome-popup-text">
<p>XLENT har en ”onboardingsprocess” som rullar igång när vi får en nyanställd. Tanken med processen är att Du som nyanställd så snabbt som möjligt ska komma igång och känna dig trygg och startklar, när det är dags för första uppdraget. 

    Vi har valt att beskriva processen som en blomma med ett blad för varje delområde som ingår.  
    Klicka gärna runt i blomman så får du en liten glimt av vad de olika delarna innehåller! </p>
</div>
</div>


