<!--app.component.html-->

<!-- <div [class.darkTheme]="isDarkMode"> -->
  
   
  
    <!-- <button mat-icon-button (click)="isDarkMode = !isDarkMode"> 
      <mat-icon>{{ themeService.isDarkMode() ? 'brightness_7' : 'brightness_3' }}</mat-icon> 
    </button> -->
     
     <div class="personvaljar-lista">
     <mat-form-field>
<!-- Visar aktivt namn efter man valt i rullistan -->
      <mat-label><div *ngIf="selectedPerson">  
        <p>{{selectedPerson.name}}</p>
    </div>
    </mat-label>
        
    
<!-- Personvaljare -->

      <mat-select [(value)]="selectedPerson" (selectionChange)="onPersonSelected(selectedPerson!.id)">

        <mat-option *ngFor="let person of activePersons" [value]="person">

            {{ person.name }} {{ person.active ? 'Aktiv' : 'Inaktiv' }}  {{ person.id }}

        </mat-option>

    </mat-select>  

    </mat-form-field>
         
    <button id="hem-knapp" mat-icon-button color="secondary" routerLink=""><mat-icon>home</mat-icon></button>

    <button id="admin-knapp" mat-icon-button color="secondary" routerLink="/admin-page"><mat-icon>build</mat-icon></button> 
  
    </div>
    
    





   
    
 

    



  <div class="container">
    <mat-card class="card">

  
  
    
    <router-outlet></router-outlet>

