<div [class.darkTheme]="isDarkMode">
  <mat-toolbar color="primary">
    <span>Xlent Luleå</span>
    <button mat-icon-button (click)="isDarkMode = !isDarkMode">
      <mat-icon>{{ themeService.isDarkMode() ? 'brightness_7' : 'brightness_3' }}</mat-icon>
    </button>
  </mat-toolbar>

  <div class="container">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>XLU Onboarding</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" routerLink="/"><mat-icon>home</mat-icon></button>
        <!-- <button mat-raised-button color="primary" routerLink="/onboarding">Påbörja onboarding</button>
        <button mat-raised-button color="secondary" routerLink="/onboarding">test</button> -->
        <button mat-raised-button color="warn" routerLink="/task-list">
          Att göra-lista
        </button>
   
      </mat-card-actions>
    </mat-card>
    <div *ngFor="let person of persons">
      <h3 (click)="goToPersonTasks(person.id)">{{ person.name }} ({{ person.email }})</h3>
      <!-- Rest of the content -->
    
    
    
      <!-- Display uncompleted tasks -->
      <div *ngIf="person.tasks.length > 0">
        <h4>Uncompleted Tasks:</h4>
        <ul>
          <li *ngFor="let task of person.tasks | taskFilter: false">
            {{ task.title }}
            <button (click)="removeTask(person.id, task.id)">Mark as Completed</button>
          </li>
        </ul>
      </div>
    
      <!-- Display completed tasks -->
      <div *ngIf="person.tasks.length > 0">
        <h4>Completed Tasks:</h4>
        <ul>
          <li *ngFor="let task of person.tasks | taskFilter: true">
            {{ task.title }}
            <button (click)="removeTask(person.id, task.id)">Mark as Incomplete</button>
          </li>
        </ul>
      </div>
    </div>
    
        

        <!-- Form to create a new person -->
        <form (ngSubmit)="createPerson(newPerson)" #personForm="ngForm">
          <input [(ngModel)]="newPerson.name" name="name" required placeholder="Name">
          <input [(ngModel)]="newPerson.email" name="email" required email placeholder="Email">
          <button type="submit" [disabled]="personForm.invalid">Create new person</button>
        </form>
    <router-outlet></router-outlet>
  </div>
</div>
