<div id="body2">
<div id="container">
  
  <section>
      <div id='flower'>
          <div id='ball'></div>
          <div id="petals">
            <div class="petal" [matTooltip]="'hej'" [matTooltipPosition]="'above'" style="border:5px solid"></div>
              <div class="petal" [matTooltip]="'hej2'" [matTooltipPosition]="'above'" style="border:10px solid"></div>
              <div class="petal"></div>
              <div class="petal"></div>
              <div class="petal"></div>
              <div class="petal"></div>
              <div class="petal"></div>
              <div class="petal"></div>
          </div>
      </div>
  </section>
</div>
</div>