<div class="task-list">
  <div class="header">
    <mat-checkbox [(ngModel)]="selectAll" (change)="selectAll ? checkAll() : uncheckAll()" labelPosition="after"> </mat-checkbox>

    <mat-form-field>
      <mat-label>Task Type</mat-label>
      <mat-select [(value)]="selectedTaskType" (selectionChange)="fetchTasksByTaskType(TaskType[selectedTaskType])">
        <mat-option *ngFor="let taskType of taskTypes" [value]="taskType">
          {{ taskType }}
        </mat-option>
      </mat-select>
      
      
    </mat-form-field>

    <mat-progress-bar class="total-progress" mode="determinate" [value]="getTotalProgress()"></mat-progress-bar>
  </div>

  <ng-container *ngFor="let task of tasks">
    <ng-container *ngIf="task.taskType === TaskType[selectedTaskType]">
      <div class="task-row">
        <div class="task">
          <h3>{{ task.title }}</h3>
          <mat-progress-bar mode="determinate" [value]="getProgress(task)"></mat-progress-bar>
          <div class="steps">
            <ng-container *ngFor="let step of task.steps">
              <div class="step">
                <mat-checkbox [(ngModel)]="step.completed" (change)="onCheckboxChange()">
                  <a [href]="step.url" target="_blank">{{ step.title }}</a>
                </mat-checkbox>
                <button mat-button (click)="showStepDescription(step.description)">Se mer</button>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
