
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap");
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
  margin-top: 0; 
  font-family: Roboto, "Helveetica Neu", sans-serif;
  font-family: Poppins, 'Poppins', sans-serif;

}

:root {
    --petal-size: 12rem;
    --time: 2s;
    --color1: rgb(255, 103, 111);
    --color2: rgb(249, 220, 104);
  }
html, body { height: 100%; }
body { margin-top: 100px; font-family: Poppins, "Poppins", sans-serif; }
